/* Styles global */
* {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: black;
}
body {
  width: 470px;
}
.clear {
  clear: both;
}
footer {
  margin: 10px 0 0 0;
}
section {
  padding: 5px;

  /* Styles de #home */
}
.title {
  color: red;
  font-size: 16px;
  text-align: center;
}
#image {
  width: 450px;
}
#btnPlay {
  float: right;
}
/* Styles de #game */
#animation {
  background-color: #fff;
}
.cdu {
  width: 15px;
  padding: 1px;
  margin: 0 2px;
}

/* Styles de #score */
#summary span {
  font-size: 24px;
  font-weight: bolder;
}
#summary.fail span {
  color: red;
}
#summary.success span {
  color: green;
}
#btnReplay {
  float: left;
}
#btnHome {
  float: right;
}

/* Style de best-scores */
#scores-list {
  position: relative;
  padding: 10px 0;
  text-align: center;
}
#scores-list > ol > li {
  text-align: left;
  padding: 5px 0;
}
#btnReturnHome {
  float: right;
}
.no-score {
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
}
.date {
  font-style: italic;
}
.pseudo {
  color: #333;
  font-size: 13px;
  font-weight: bold;
}
.score {
  color: steelblue;
}
